<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="logback-base.xml" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT_ASYNC"/>
  </root>

  <logger name="play" level="DEBUG" />
  <logger name="application" level="DEBUG" />
  <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" />
  <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG" />
</configuration>
